<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Classification of WEB frameworks</title>
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <h1>Класифікація WEB фреймворків</h1>
    <h3>WEB фреймворк Flask</h3>
    <p>
      Flask - це мікрофреймворк для створення веб-додатків мовою програмування
      Python. Він надає базові інструменти та структуру для створення
      веб-додатків, але при цьому залишає багато рішень і архітектурних деталей
      на розсуд розробника. Flask був розроблений з метою бути легким, гнучким і
      простим у використанні. <br />
      Деякі ключові особливості Flask:
    </p>
    <ul>
      <li>
        Мінімалізм: Flask надає мінімальний набір інструментів для створення
        веб-додатків. Це дозволяє розробникам вибирати та інтегрувати необхідні
        компоненти за їхнім бажанням.
      </li>
      <li>
        Маршрутизація: Flask дозволяє визначити URL-адреси (маршрути), які
        додаток буде обробляти. Це робиться з використанням декораторів Python.
      </li>
      <li>
        Шаблони: Flask підтримує використання шаблонів (наприклад, Jinja2), що
        спрощує відображення динамічних даних на веб-сторінках.
      </li>
      <li>
        HTTP-методи: Додатки на Flask можуть обробляти різні HTTP-методи, такі
        як GET, POST, PUT, DELETE і інші.
      </li>
      <li>
        Розширюваність: Існує багато розширень (extensions) для Flask, які
        додають додаткові функціональні можливості, такі як робота з базами
        даних, аутентифікація, обробка форм та інше.
      </li>
      <li>
        Необхідність самостійних рішень: Flask залишає багато архітектурних
        рішень на розсуд розробника. Це надає велику свободу, але також вимагає
        від розробників приймати рішення щодо організації коду і структури
        додатку.
      </li>
    </ul>
    <p>Мінімальний додаток Flask виглядає приблизно так:</p>
    <!-- exemple_1 -->
    <p>
      Просто збережіть його під назвою hello.py і запустіть за допомогою вашого
      інтерпретатора Python. Тільки не давайте додатку ім'я flask.py , оскільки
      це викликає конфлікт із самим Flask.
    </p>
    <!-- exemple_2 -->
    <p>
      Пройшовши за посиланням http://127.0.0.1:5000/ , ви побачите ваше Hello
      World!.
    </p>
    <p>Отже, що робить цей код?</p>
    <ul>
      <li>
        Спочатку ми імпортували клас Flask. Примірник цього класу і буде вашим
        додатком WSGI.
      </li>
      <li>
        Далі ми створюємо екземпляр цього класу. Перший аргумент – це ім'я
        модуля або пакета програми. Якщо ви використовуєте єдиний модуль (як у
        цьому прикладі), вам слід використовувати __name__ , тому що залежно від
        того, чи запущено код як додаток, чи був імпортований як модуль, це ім'я
        буде різним ( '__main__'або актуальне ім'я імпортованого модуля
        відповідно). Це потрібно, щоб Flask знав, де шукати шаблони, статичні
        файли та інше. Для додаткової інформації дивіться документацію Flask.
      </li>
      <li>
        Далі, ми використовуємо декоратор route(), щоб сказати Flask, який URL
        повинен запускати нашу функцію.
      </li>
      <li>
        Функція, якій дано ім'я, яке використовується також для генерації
        URL-адрес для цієї конкретної функції, повертає повідомлення, яке ми
        хочемо відобразити в браузері користувача.Функція, якій дано ім'я, яке
        використовується також для генерації URL-адрес для цієї конкретної
        функції, повертає повідомлення, яке ми хочемо відобразити в браузері
        користувача.
      </li>
      <li>
        Нарешті, для запуску локального сервера з нашим додатком ми
        використовуємо функцію run(). Завдяки конструкції можна бути впевненим,
        що сервер запуститься лише за безпосереднього виклику скрипта з
        інтерпретатора Python, а не при його імпортуванні як модуль.if __name__
        == '__main__'
      </li>
    </ul>
    <h3>Механізм шаблонів і мову шаблонів Jinja2</h3>
    <p>
      Jinja2 - це популярний і потужний механізм шаблонів для Python, який
      використовується веб-фреймворками, такими як Flask і Django, а також в
      інших проектах Python для генерації тексту на основі шаблонів. Він
      дозволяє розробникам вставляти змінні та логіку в шаблони для створення
      динамічного вмісту, який може бути відображений на веб-сторінках або в
      інших текстових документах. <br />
      Основні концепції Jinja2:
    </p>
    <ul>
      <li>
        Змінні: Змінні вставляються в шаблони за допомогою подвійних фігурних
        дужок {{ }}. Наприклад, {{ username }} вставляє значення змінної
        username в шаблон.
      </li>
      <li>
        Вирази: Вирази дозволяють виконувати обчислення та операції в шаблоні за
        допомогою фігурних дужок з відсічкою {% %}. Наприклад, {% for item in
        items %} використовується для ітерації через список items.
      </li>
      <li>
        Умовні оператори: Ви можете вставляти умовні оператори в шаблони за
        допомогою {% if ... %} та {% else %}. Наприклад:
        <!-- exemple_3 -->
      </li>
      <li>
        Цикли: Jinja2 підтримує цикли для обробки списків або інших ітерабельних
        об'єктів. Наприклад:
        <!-- exemple_4 -->
      </li>
      <li>
        Макрофункції: Ви можете оголошувати та викликати макрофункції в шаблоні,
        що дозволяє виокремити і перевикористовувати фрагменти коду.
      </li>
      <li>
        Спадкування шаблонів: Ви можете створювати батьківські та дочірні
        шаблони для використання спадкування та відновлення частин шаблонів.
      </li>
      <li>
        Фільтри та розширення: Jinja2 має багато вбудованих фільтрів та
        можливість розширення функціональності шаблонів за допомогою розширень.
      </li>
      <li>
        Безпека: Jinja2 має вбудовану підтримку безпеки і автоматично екранує
        дані, що вставляються в шаблони, для запобігання атакам внедрення коду.
      </li>
    </ul>
    <p>
      Загалом, Jinja2 дозволяє створювати динамічні веб-сторінки та інші тексові
      документи, вставляючи змінні, умови та логіку безпосередньо в шаблони. Він
      є важливою складовою багатьох веб-фреймворків та додатків, які
      використовують Python для розробки веб-додатків та генерації
      HTML-сторінок.
    </p>
    <h3>Сесії і форми</h3>
    <p>
      Сесії та форми - це важливі складові веб-розробки, які використовуються
      для збереження стану і обробки даних у веб-додатках. Вони є ключовими
      елементами для взаємодії з користувачами та збереження даних між
      HTTP-запитами.
    </p>
    <p>Сесії:</p>
    <ul>
      <li>
        Сесія - це механізм, який дозволяє зберігати дані на сервері між різними
        HTTP-запитами в рамках одного користувача. Вона дозволяє створювати та
        зберігати змінні, які будуть доступні під час всієї сесії користувача.
      </li>
      <li>
        Зазвичай сесії використовуються для збереження інформації про стан
        користувача, таку як ідентифікатори сесій, дані про входження, корзини
        для покупок тощо.
      </li>
      <li>
        Для зберігання сесій в Flask і багатьох інших веб-фреймворках
        використовуються кукі або серверна пам'ять. Ви можете зберігати у сесії
        будь-які дані, які потрібні для вашого додатка.
      </li>
      <li>
        Щоб встановити сесію в Flask, вам спочатку потрібно ініціалізувати її, а
        потім зберігати та зчитувати дані з неї. Наприклад:
        <!-- exemple_5 -->
      </li>
    </ul>
    <p>Форми:</p>
    <ul>
      <li>
        Форма - це інтерактивний елемент веб-сторінки, який дозволяє
        користувачам вводити та надсилати дані на сервер для обробки.
      </li>
      <li>
        Форми використовуються для збору різних видів інформації від
        користувачів, таких як реєстраційні дані, коментарі, пошукові запити
        тощо.
      </li>
      <li>
        Для створення та обробки форм в веб-додатках Flask використовуються
        розширення, такі як Flask-WTF або вбудовані засоби бібліотеки request.
      </li>
    </ul>
    <p>
      Приклад використання Flask-WTF для створення форми та обробки її даних:
    </p>
    <!-- exemple_6 -->
    <p>
      У цьому прикладі ми створюємо форму з полем для введення імені та кнопкою
      "Відправити". Коли користувач відправляє форму, дані зчитуються з форми і
      виводяться на сторінці. Сесії та форми є важливими для розробки
      веб-додатків, оскільки вони дозволяють зберігати стан користувача та
      обробляти дані, що надходять на сервер.
    </p>
    <h3>WEB-фреймворк Bottle</h3>
    <p>
      Bottle - це мінімалістичний мікрофреймворк для веб-розробки на мові
      програмування Python. Як і інші мікрофреймворки, Bottle надає базовий
      набір інструментів для створення веб-додатків, але при цьому має невеликий
      розмір та низький поріг входження. Основною метою Bottle є надання
      швидкого і простого рішення для створення веб-додатків невеликого розміру.
      <br />
      Особливості Bottle:
    </p>
    <ul>
      <li>
        Мінімалізм: Bottle має дуже низький рівень абстракції, що дозволяє
        розробникам швидко створювати прості веб-додатки.
      </li>
      <li>
        Один файл: Один додаток Bottle може бути представлений одним файлом. Це
        зручно для невеликих проектів.
      </li>
      <li>
        Вбудований сервер: Bottle поставляється з вбудованим веб-сервером, що
        дозволяє запускати додаток без необхідності встановлення окремого
        веб-сервера.
      </li>
      <li>
        Маршрутизація: Маршрутизація в Bottle відбувається за допомогою
        декораторів, які вказують, який обробник має бути викликаний для
        конкретного URL.
      </li>
      <li>
        Шаблонізація: Bottle підтримує використання вбудованої шаблонної мови
        для відображення динамічних даних на сторінках.
      </li>
      <li>
        Сесії: Bottle надає можливість роботи з сесіями для зберігання стану між
        різними HTTP-запитами.
      </li>
      <li>
        Розширення: Хоча Bottle і має мінімалістичний характер, він має плагіни,
        які додають додаткові можливості, такі як робота з базами даних,
        аутентифікація тощо.
      </li>
    </ul>
    <p>Приклад простого веб-додатку на Bottle:</p>
    <!-- exemple_7 -->
  </body>
</html>
